*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.png
*.synctex.gz
.*.sw*
*.pt
*.pyc
*.jar
._*
.DS_Store
*.gz*
.xjar/
__pycache__/
tags
temp*
META*
ln_*
_*/
__*
/build/
/output/
!/scripts/templates
archives/*
!/archives/demo
videos/
videos/*
scripts/record_video.sh
scripts/play_video.sh
*.mp4
creds.pkl
