*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.png
*.synctex.gz
.*.sw*
*.pt
*.pyc
*.jar
._*
.DS_Store
*.gz*
.xjar/
__pycache__/
tags
temp*
META*
ln_*
_*/
__*
/build/
/output/
!/scripts/templates
projects/*
